<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/main.html">
    <div layout:fragment = "contentPart">

        <form th:action = "@{/save}" method="post">
            <input type="hidden" name="id" th:value = "${tovar.id}">
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" name = "name" th:value = "${tovar.name}">
            </div>
            <div class="form-group">
                <label>Price</label>
                <input type="number" class="form-control" name = "price" th:value = "${tovar.price}">
            </div>
            <div class="form-group">
                <label>Shop Name</label>
                <input type="text" class="form-control" name = "magazin" th:value = "${tovar.magazinnynAty}">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <br>
        <form th:action = "@{'/delete'}" method="post">
            <input type="hidden" th:value = "${tovar.id}" name="id">
            <button class="btn btn-danger">DELETE</button>
        </form>
    </div>
</html>