<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/main.html">
    <div layout:fragment = "contentPart">
        <table class="table table-stripped">
            <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    NAME
                </th>
                <th>
                    SHOP NAME
                </th>
                <th>
                    PRICE
                </th>
                <th>
                    EDIT
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each = "it, nomir: ${items}">
                <td th:text = "${nomir.count}"></td>
                <td th:text = "${it.name}"></td>
                <td th:text = "${it.magazinnynAty}"></td>
                <td th:text = "${it.price}"></td>
                <td>
                    <a class="btn btn-success btn-sm" th:href = "@{'/edit/' + ${it.id}}">EDIT</a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td>
                    TOTAL PRICE:
                </td>
                <td colspan="3" th:text = "${#aggregates.sum(items.![price])}">
                </td>
                <td>
                </td>
            </tr>
            </tfoot>
        </table>

    </div>
</html>